################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Timekeeping/bin
/Timekeeping/obj
/.vs/Timekeeping/v14
